.sliderWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.slider {
  position: absolute;
  height: 100%;
  min-width: 100%;
  width: 100%;
  flex-shrink: 0;

  &:nth-of-type(2) {
    position: inherit;
    margin-left: -2px;
  }
}
