.loader {
  height: calc(100vh + 200px);
  width: 100%;
  position: fixed;
  z-index: 9999;
  pointer-events: none;
}

.loader svg {
  fill: var(--primary-800);
  height: 100%;
  width: 100%;
}

.loader svg path {
  stroke: black;
  stroke-width: 1px;
}
