.section_footer {
  padding-bottom: 0px !important;
  position: relative;
  z-index: 9;
  background-color: var(--surface-page);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.section_wrapper {
  width: 100%;
}

.footer_title {
  @media (max-width: 750px) {
    margin-bottom: var(--spacing-5xl);
  }
}

.footer_nav {
  margin-bottom: var(--spacing-5xl);
  & .tag {
    grid-column: 7/8;
  }

  & .navList {
    grid-column: 8/-1;
  }
}

.footer_email {
  & .tag {
    grid-column: 7/8;
  }

  & .mailWrapper {
    grid-column: 8/-1;
  }
}

.typemark {
  grid-column: 1/-1;
  margin-top: var(--spacing-6xl);
  overflow: hidden;

  @media (max-width: 750px) {
    margin-top: var(--spacing-3xl);
  }

  & svg {
    width: 100%;
    height: 100%;
    transform: translateY(15%);

    & path {
      fill: var(--text-heading);
    }
  }
}
