@use "../../../styles/_abstracts/" as mix;

.navbar {
  height: 100px;
  padding-top: var(--spacing-lg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  opacity: 0;

  &.visible {
    transform: translateY(0);
    opacity: 1;
  }
}

// Logo
.logo {
  display: inline-block !important;
  width: max-content;
  width: 48px;
  height: 48px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 750px) {
    margin-bottom: var(--spacing-lg);
  }
}

// Time Code
.timeWrapper {
  text-align: end;
  grid-row: 1;
  grid-column: 4/6;

  @include mix.below(750px) {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

// Nav List
.navListWrapper {
  grid-column: 8/-1;
}
