@use "../../../styles/_abstracts/" as mix;

.navbar {
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
  margin-top: var(--spacing-lg) !important;
}

// Logo
.logo {
  display: inline-block !important;
  width: max-content;
  width: 48px;
  height: 48px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 750px) {
    width: 32px;
    height: 32px;
    margin-inline: var(--spacing-sm);
    margin-bottom: var(--spacing-lg);
  }
}

// Time Code
.timeWrapper {
  text-align: end;
  grid-row: 1;
  grid-column: 4/6;

  @include mix.below(750px) {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

// Nav List
.navListWrapper {
  grid-column: 8/-1;
}
