@use "../../../styles/_abstracts/" as mix;

.navbar {
  position: relative;
  z-index: 97;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
  margin-top: var(--spacing-lg) !important;
}

.logo_wrapper {
  grid-column: 1/4;
  width: max-content;
  height: max-content;
  display: inline-block;

  & .typemark {
    & p {
      font-family: var(--font-body);
      font-size: var(--font-size-body-sm);
      color: var(--text-heading);
      font-weight: 700;
    }
  }
}

// Logo
.logo {
  display: inline-block !important;
  width: max-content;
  width: 48px;
  height: 48px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 750px) {
    width: 32px;
    height: 32px;
    margin-inline: var(--spacing-sm);
    margin-bottom: var(--spacing-lg);
  }
}

// Time Code
.timeWrapper {
  text-align: end;
  grid-row: 1;
  grid-column: 4/6;

  @include mix.below(750px) {
    position: absolute;
    text-align: end;
    top: 0px;
    right: 16px;
    width: max-content;
    height: max-content;

    & p {
      margin-top: 0px !important;
      padding: 0px !important;
    }
  }
}

// Nav List
.navListWrapper {
  grid-column: 8/-1;
}
