@use "../../../styles/_abstracts/" as mix;

.title {
  grid-column: 1/6;
  margin-bottom: var(--spacing-2xl);
  text-transform: uppercase;

  @media (max-width: 750px) {
    margin-bottom: var(--spacing-lg);
  }

  &_leftAligned {
    color: var(--text-heading);
    text-align: left;
    @include mix.heading-1-desktop;

    @include mix.below(450px) {
      @include mix.heading-1;
    }
  }

  &_rightAligned {
    text-align: right;
    color: var(--text-heading-secondary);
    @include mix.heading-1-desktop;

    @include mix.below(450px) {
      @include mix.heading-1;
    }
  }
}
