@use "../../../styles/_abstracts/" as mix;

.wrapper {
  position: relative;
  z-index: 12 !important;
  display: flex;
  gap: var(--spacing-sm);
  margin-top: var(--spacing-sm);
  // border: 2px solid red;
  min-height: 48px;
  pointer-events: none !important;

  @media screen and (max-width: 450px) {
    // transform: scale(0.9);
    margin-bottom: 4px;
    // margin-right: -8px;
  }
}

.modeIcon {
  height: 100%;
  padding: var(--spacing-xs) var(--spacing-sm);
  background-color: var(--surface-action);

  & svg {
    margin-top: 0px;
    min-width: 24px;
    min-height: 24px;
  }
}

.switchIcon {
  background-color: var(--surface-action);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  margin-left: auto;
  overflow: hidden;
  cursor: default;
  position: relative;
  z-index: 12 !important;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--surface-action-hover);
  }
}

.switchIcon,
.labelWrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  // width: max-content;
}

.labelWrapper {
  align-items: center;
  overflow: hidden;
}

.iconsMask {
  height: 24px;
}

.iconsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  padding: 0px;
  margin: 0px;

  & div {
    overflow: hidden;
  }

  svg {
    min-width: 24px;
    min-height: 24px;
    margin-top: -2px;
    opacity: 0.8;
  }
}

.label {
  transform-origin: right bottom;
  color: var(--text-on-action);
  min-width: max-content;
  // border: 1px solid blue;

  & .textContainer {
    white-space: nowrap;
    width: max-content;
    text-align: right;
    @include mix.label-sm;

    // Available
    & span {
      opacity: 0.6;
    }
  }
}

.icon_stroke {
  stroke: var(--text-on-action);
}

.icon_fill {
  fill: var(--text-on-action);
}
