@use "../../../styles/_abstracts/" as mix;

.switchWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  pointer-events: none;
}

.switch {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: var(--spacing-md) var(--spacing-md);
  border: var(--border-width-sm) solid var(--border-primary);
  background-color: var(--surface-primary);

  @media (max-width: 750px) {
    padding: var(--spacing-md) var(--spacing-md);
  }

  &:hover {
    & .details p {
      color: var(--text-on-action) !important;
    }
  }
}

.imageWrapper {
  position: relative;
  z-index: 2 !important;
  width: 72px;
  height: 48px;
  border-radius: var(--border-radius-sm);
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.details {
  position: relative;
  z-index: 2 !important;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);

  @media (max-width: 750px) {
    gap: var(--spacing-sm);
  }

  & p {
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
  }

  & .tag {
    font-family: var(--reddit-mono) !important;
    font-size: 12px !important;
    line-height: 14px !important;
  }

  & .body {
    color: var(--text-body);
    font-size: 14px;
    line-height: 16px !important;
    font-weight: var(--font-weight-medium) !important;

    & {
      font-family: var(--manrope) !important;
    }
  }
}

.shader {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--surface-action);
}
