.gallery {
  width: 240px;
  height: 240px;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  position: relative;
  display: none;

  & .vignette {
    width: 240px;
    position: fixed;
    overflow: hidden;
    border-radius: var(--border-radius-md);

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      scale: 1;
    }
  }
}

.vignetteWrapper {
  position: relative;
}
