:root {
  /* Brand -> Primary */
  --neue-color-brand-50: #f7fafc;
  --neue-color-brand-100: #e5ebec;
  --neue-color-brand-300: #c9d6d5;
  --neue-color-brand-500: #adbfc0;
  --neue-color-brand-700: #6a7b7d;
  --neue-color-brand-800: #292e30;

  /* Grey -> Neutrals*/
  --neue-color-grey-50: #f9fafaff;
  --neue-color-grey-100: #dedfdf;
  --neue-color-grey-300: #b7b9b9;
  --neue-color-grey-500: #909493;
  --neue-color-grey-700: #5e6060;
  --neue-color-grey-800: #1c1f1fff;
  --neue-color-grey-0: #ffffffff;
  --neue-color-grey-1000: #00080aff;

  /* Font Family */
  --neue-font-primary: var(--manrope);
  --neue-font-secondary: var(--reddit-mono);

  /* Heading Type Scale */
  --neue-font-size-h1: 40px;
  --neue-font-size-h1-desktop: 64px;
  --neue-font-size-h2: 32px;
  --neue-font-size-h2-desktop: 56px;
  --neue-font-size-h3: 28px;
  --neue-font-size-h3-desktop: 32px;
  --neue-font-size-h4: 24px;
  --neue-font-size-h4-desktop: 28px;

  /* Body Type Scale */
  --neue-font-size-body-sm: 14px;
  --neue-font-size-body-sm-desktop: 16px;
  --neue-font-size-body-md: 16px;
  --neue-font-size-body-md-desktop: 20px;
  --neue-font-size-body-lg: 20px;
  --neue-font-size-body-lg-desktop: 24px;

  /* Label Type Scale */
  --neue-font-size-label-sm: 12px;
  --neue-font-size-label-sm-desktop: 12px;

  /* Headings Line Height */
  --neue-line-height-h1: 44px;
  --neue-line-height-h1-desktop: 68px;
  --neue-line-height-h2: 40px;
  --neue-line-height-h2-desktop: 64px;
  --neue-line-height-h3: 32px;
  --neue-line-height-h3-desktop: 40px;
  --neue-line-height-h4: 28px;
  --neue-line-height-h4-desktop: 32px;

  /* Body Line Heights */
  --neue-line-height-body-sm: 16px;
  --neue-line-height-body-sm-desktop: 20px;
  --neue-line-height-body-md: 20px;
  --neue-line-height-body-md-desktop: 24px;
  --neue-line-height-body-lg: 24px;
  --neue-line-height-body-lg-desktop: 32px;

  /* Label Line Heights */
  --neue-line-height-label-sm: 16px;
  --neue-line-height-label-sm-desktop: 16px;

  /* Scale */
  /* --neue-scale-25: 1px;
  --neue-scale-50: 2px;
  --neue-scale-100: 4px;
  --neue-scale-150: 6px;
  --neue-scale-200: 8px;
  --neue-scale-400: 16px;
  --neue-scale-600: 24px;
  --neue-scale-800: 32px;
  --neue-scale-1000: 40px;
  --neue-scale-1200: 48px;
  --neue-scale-1600: 64px;
  --neue-scale-1700: 80px;
  --neue-scale-1800: 100px; */
}
