:root {
  /* Text Color */
  --text-heading: var(--primary-800);
  --text-heading-secondary: var(--primary-500);
  --text-body: var(--primary-700);
  --text-on-action: var(--primary-50);
  --text-action-hover: var(--primary-50);
  --text-disabled: var(--neutral-300);
  --text-on-disabled: var(--neutral-700);

  /* Surface Color */
  --surface-primary: var(--primary-500);
  --surface-primary-2: var(--neutral-100);
  --surface-action: var(--primary-700);
  --surface-action-hover: var(--primary-800);

  /* Page Color*/
  --surface-page: var(--primary-50);
  --surface-page-invert: var(--neutral-800);

  /* Border Color */
  --border-primary: var(--neutral-300);

  /* Global Semantic Tokens */
  /* Border Width */
  --border-width-sm: var(--scale-25);
  --border-width-md: var(--scale-50);
  --border-width-lg: var(--scale-100);
  /* Border Radius */
  --border-radius-sm: var(--scale-50);
  --border-radius-md: var(--scale-100);
  --border-radius-lg: var(--scale-300);
  --border-radius-xl: var(--scale-400);
  --border-radius-rounded: 10000px;
}

/* Tokens Overrides For Specific Brand Tokens */
/* Example => One theme uses --surface-page = --neutral-50 but the other theme wants to use another color */
html[data-theme="pixel"] {
  --surface-page: var(--primary-50);
  --surface-action: var(--primary-500);
  --text-body: var(--neutral-800);
  --text-heading-secondary: var(--primary-300);
}
