@use "../../../styles/_abstracts/" as mix;

.tag {
  text-transform: uppercase;
  width: max-content !important;
  display: inline-block;
  margin-top: 8px;
  border: "none";
  border-radius: "none";
  padding: "none";
  color: var(--text-body);
  transition: all 0.4s ease-out;
  font-size: 12px;
  @include mix.label-sm;

  &.hovered {
    color: var(--text-on-action) !important;
  }

  & {
    @include mix.below(450px) {
      display: block;
      margin-top: var(--spacing-lg);
      margin-bottom: var(--spacing-sm);
    }
  }
}

@mixin outline {
  border: var(--border-width-sm) solid var(--border-primary);
  border-radius: var(--border-radius-rounded);
  padding: var(--spacing-sm) var(--spacing-md);

  &.hovered {
    color: var(--text-on-action) !important; // Now .outline.hovered works!
  }
}

.outline {
  @include outline;
}

.filled {
  @include outline;
  color: var(--text-on-action) !important;
  background-color: var(--surface-action);

  &.hovered {
    background-color: var(--surface-primary-2);
    color: var(--text-action) !important;
  }
}
