@use "../../../styles/_abstracts/" as mix;

.card {
  position: sticky;
  top: 0;
  padding-top: var(--card-padding);
  padding-bottom: var(--card-padding);
  background-color: var(--surface-page);

  & {
    &::before {
      content: "";
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--border-primary);
      transform-origin: left center;
    }
  }

  & {
    &:nth-of-type(1) {
      //   top: 15vh;
      //   margin-bottom: 18rem;
      top: var(--sticky-base);
      margin-bottom: var(--card-spacing-base-desktop);
      @media (max-width: 768px) {
        margin-bottom: var(--card-spacing-base-mobile);
      }
    }
    &:nth-of-type(2) {
      top: calc(var(--sticky-base) + var(--reveal-increment-desktop));
      margin-bottom: calc(
        var(--card-spacing-base-desktop) - var(--card-spacing-decrement)
      );

      @media (max-width: 768px) {
        top: calc(var(--sticky-base) + var(--reveal-increment-mobile) * 1.1);
        margin-bottom: calc(
          var(--card-spacing-base-mobile) - var(--card-spacing-decrement)
        );
      }
    }
    &:nth-of-type(3) {
      //   top: calc(15vh + 20rem);
      //   margin-bottom: 2rem;
      top: calc(var(--sticky-base) + (var(--reveal-increment-desktop) * 2));
      margin-bottom: calc(
        var(--card-spacing-base-desktop) - (var(--card-spacing-decrement) * 2)
      );

      @media (max-width: 768px) {
        top: calc(var(--sticky-base) + (var(--reveal-increment-mobile)));
        margin-bottom: calc(
          var(--card-spacing-base-mobile) -
            (var(--card-spacing-decrement) * 1.65)
        );
      }
    }
  }

  &_id {
    margin-right: var(--spacing-sm);
  }

  &_id,
  &_title {
    display: inline-block;
    height: max-content;
    color: var(--text-heading);
  }

  &_title {
    grid-column: 7/12;
  }

  &_body {
    grid-column: 7/12;
    margin-top: var(--spacing-2xl);
    color: var(--text-body);
    overflow: hidden;

    @media ((max-width: 750px)) {
      & {
        margin-top: var(--spacing-lg);
      }
    }

    &_content {
      overflow: hidden;
      margin-bottom: var(--spacing-lg);

      & p {
        @include mix.body-md;
      }
    }

    @media ((max-width: 750px)) {
      &_content {
        margin-top: 0px;
      }
    }
  }

  &_tag {
    height: max-content;
    @include mix.above(750px) {
      text-align: right;
    }
  }
}

.pillWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
}
