.nav {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: var(--spacing-xs);

  &:hover {
    & .nav_icon {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  &_icon {
    transition: background-color 0.2s ease-in-out;
    width: 56px;
    height: 56px;
    border: var(--border-width-sm) solid var(--border-disabled);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 -1px 0 4px #ffffff; //   box-shadow: inset offset-x offset-y blur-radius color;
    backdrop-filter: blur(4px);
    border-radius: var(--border-radius-lg);
    padding: var(--spacing-xs);

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &_label {
    font-family: var(--font-body);
    font-size: var(--font-size-body-sm);
    font-weight: 600;
    text-transform: uppercase;
  }
}
