.page {
  position: relative;
  z-index: 1;
  background-color: var(--surface-page);
}

.footer_spacer {
  width: 100%;
  height: var(--footer-spacer-height);
  pointer-events: auto;
  position: relative;
  z-index: -10;
}
