.page {
  position: relative;
  z-index: 1;
  background-color: var(--surface-page);
  // transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.footer_spacer {
  width: 100%;
  height: var(--footer-spacer-height);
  pointer-events: auto;
  position: relative;
  z-index: -10;
}
