@use "../../../styles/_abstracts/" as mix;
.menu {
  max-height: 100vh;
  height: 100vh;
  background-color: var(--surface-page);
  position: fixed;
  z-index: 98;
  right: 0;
  top: 0;
  color: var(--surface-page);
  padding-inline: 16px;
  padding-top: var(--spacing-3xl);
  padding-bottom: var(--spacing-md);

  @media (max-width: 750px) {
    width: 100%;
  }

  .tag {
    margin-bottom: var(--spacing-md);
  }

  :global(.navItem) {
    min-width: 35vw;
    padding: var(--spacing-md) 0px var(--spacing-md) var(--spacing-sm);

    @media (max-width: 750px) {
      min-width: 100%;
      padding: var(--spacing-md) 0px var(--spacing-md) 0px;
    }

    p {
      font-size: var(--font-size-body-lg);

      &:global(.pixel) {
        font-size: 26px;
        line-height: 24px;
      }
    }
  }

  .body {
    box-sizing: border-box;
    height: 100%;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nav {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-sm);
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    font-size: 12px;
    gap: var(--spacing-xl);

    h3 {
      color: var(--text-heading) !important;
    }

    & .copyright {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      opacity: 0.6;
    }
  }

  & :global(.curveWrapper) {
    width: 100%;
  }

  & :global(.curve) {
    width: 100%;
    left: -100px;
  }
}
